{% extends 'header.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <style>
      a {
        color: #404040;
      }
      ul.nav navbar-nav navbar-right > li {
        text-align: center;
      }
      div.col-md-9 > div.col-md-4 {
        margin: 10px -5px 10px -5px;
      }
      div.col-md-9 > div.col-md-4 > a {
        display: block;
        min-height: 200px;
        padding: 15px 15px 15px 15px;
        text-align: center;
        background-color: #dbdbdb;
      }
      div.col-md-3 > ul > a > li {
        display: block;
        margin: 15px 15px 15px -15px;
        padding: 15px 15px 15px 15px;
        background-color: #dbdbdb;
      }
    </style>
    <div class="jumbotron">
      <h1>Hello, {{ first_name }}!</h1>
      <p>You are now logged into the Nalari Health, HIPPA-compliant remote care environment.</p>
    </div>
    

    <div class="col-md-9">
      <div class="col-md-4">
        <a href="https://nalarinetwork.com/home.htm">
          <h3>Talk to a Doctor Now</h3>
          <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="enroll.html">
          <h3>Enroll Your Patient</h3>
          <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="remote_care_services.html">
          <h3>Remote Care Services</h3>
          <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="biometrics.html">
          <h3>Patient Biometrics</h3>
          <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="training_and_resources.html">
          <h3>Training &amp; Resources</h3>
          <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="qi_risk_management.html">
          <h3>Quality Improvement / Risk Management</h3>
          <p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <a href="my_patients.html"><li>My Patients</li></a>
        <a href="my_appointments.html"><li>My Appointments</li></a>
        <a href="my_notes.html"><li>My Notes</li></a>
        <a href="{% url 'zoom:zoom' %}"><li>Quick Chat</li></a>
        <a href="{% url 'zoom:schedule' %}"><li>Schedule an Appointment</li></a>
      </ul>
    </div>
{% endblock %}