{% extends 'header.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
    <style>
      .list_icon {
        height: 40px;
        margin: 10px;
      }
      .left_col_li {
        display: block;
      }
      .left_col_li:hover {
        background-color: #97BAED;
      }
      .tile_icon {
        max-width: 70px;
        float: left;
        margin: 5px;
      }
      .tile_desc {
        clear: both;
        text-align: center;
      }
      .inner_third {
        padding: 0px;
        min-height: 200px;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
        border-radius: 15px;
        /*background-color: #B0B0B0;*/
      }
      .inner_third:hover {
        background-color: #BFBFBF;
      }
    </style>
    <div class="col-md-3 left_col">
      <a href="{% url 'accounts:photo' %}"><img style="width:50%;max-height: 150px;float:left;margin:4px;" alt="Picture" src="{{ user.picture.picfile.url }}"></a>
      <h5>Welcome, {{ user.user.get_short_name }}!</h5>
      <p>You are now logged in to the Nalari Health, HIPPA-compliant remote care environment.</p>
      <div style="width:100%;clear:both;background-color:#3F6FDD;height:5px;"></div>
      <ul>
        <li class="left_col_li"><a href="" class='non-functional'><img src="{% static 'icon/calendar.png' %}" class='list_icon'/>See Your Calendar</a></li>
        <li class="left_col_li"><a href="" class="non-functional"><img src="{% static 'icon/video.png' %}" class='list_icon'/>(2) New Training Videos</a></li>
        <li class="left_col_li"><a href="" class="non-functional"><img src="{% static 'icon/person.png' %}" class='list_icon'/>(3) Patients to Review</a></li>
        <li class="left_col_li"><a href="" class="non-functional"><img src="{% static 'icon/email.png' %}" class='list_icon'/>(3) New Messages</a></li>
      </ul>
      <div style="width:100%;height:5px;background-color:#D9D9D9;"></div>
    </div>
    <div class="col-md-9 right_col">
    <h1>Online Care Center</h1>
    <div style="width:100%;height:5px;background-color:#D9D9D9;"></div>
      <div class="col-md-4 outer_third">
        <a href="{% url 'zoom:zoom' %}">
          <div class="col-md-11 inner_third">
            <img src="{% static 'icon/doctor.png' %}" class="tile_icon"/><h3>Talk to A Doctor</h3><br><p class="tile_desc">Initiate a scheduled or on-demand Online Care&trade; encounter with provider.</p>
          </div>
        </a>
        <a href="" class="non-functional">
          <div class="col-md-11 inner_third">
            <img src="{% static 'icon/bed.png' %}" class="tile_icon"/><h3>Take Patient Assessment</h3><br><p class="tile_desc">Use live biometrics including stethoscope, launch Vidyo for clinical encounter, etc.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 outer_third">
        <a href="" class="non-functional">
          <div class="col-md-11 inner_third">
            <img src="{% static 'icon/list.png' %}" class="tile_icon"/><h3>Service Enrollment</h3><br><p class="tile_desc">Enroll your patient in Online Care&trade;, Numera.net, Numera Social, Nalari Health feedback group.</p>
          </div>
        </a>
        <a href="" class="non-functional">
          <div class="col-md-11 inner_third">
            <img src="{% static 'icon/wrench.png' %}" class="tile_icon"/><h3>Training &amp; Resources</h3><br><p class="tile_desc">Training videos, FAQs, user forums, certifications, and user groups.</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 outer_third">
        <a href="" class="non-functional">
          <div class="col-md-11 inner_third">
            <img src="{% static 'icon/person.png' %}" class="tile_icon"/><h3>My Patients</h3><br><p class="tile_desc">See your patient list, add notes, review EMRs, physician's note and update status.</p>
          </div>
        </a>
        <a href="" class="non-functional">
          <div class="col-md-11 inner_third">
            <img src="{% static 'icon/chart.png' %}" class="tile_icon"/><h3>Q.I. &amp; Risk Management</h3><br><p class="tile_desc">Report an incident, fill put rick and quality feedback forms, and review status of feedback.</p>
          </div>
        </a>
      </div>
      <div style="width:100%;height:5px;background-color:#D9D9D9;clear:both;"></div>
    </div>
{% endblock %}