<!-- <img> -->
<h1>Welcome, Nancy!</h1><br>
<p>
	You are now logged into the Nalari Health, HIPPA-compliant remote care environment.
</p>

<a>Privacy &amp; Security</a>
<a>Manage My Account</a>
<a>Setting Up My System</a>
<a>Support <br> Chat Now</a>

<a>My Patients</a>
<a>My Appointments</a>
<a>My Notes</a>
<a>Talk to a Doctor Now</a>
<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
<a>Enroll Your Patient</a>
<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
<a>Remote Care Services</a>
<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
<a>Patient Biometrics</a>
<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
<a>Training and Resources</a>
<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
<a>Quality Improvement / Risk Management</a>
<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>