<!-- <img> -->
<style>
ul.tile_3 {
	float: right;
	text-align: center;
	overflow: auto;
	width: 80%;
}

ul.tile_3 > a {
	display: block;
	background: #5A9BD5;
	float: left;
	width: 26%;
	min-height: 150px;
	margin: 15px 15px 0 0;
}

div.greeting {
	display: block;
	float: left;
	width: 30%;
}

ul.across_the_top > li {
	display: inline-block;
	max-width: 10%;
	float: right;
	text-align: center;
	background-color: #5A9BD5;
	padding: 15px 15px 15px 15px;
	margin-right: 15px;
}

ul.dropdown > li {
	display: block;
	width: 125px;
	background-color: #5A9BD5;
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
	clear: left;
}
</style>
<ul class="across_the_top">
	<li><a>Privacy &amp; Security</a></li>
	<li><a>Manage My Account</a></li>
	<li><a>Setting Up My System</a></li>
	<li><a href="https://nalarihealth.zendesk.com/hc/en-us">Support <br> Chat Now</a></li>
</ul>
<div class="greeting">
	<h2>Welcome, Nancy!</h2>
	<h5>You are now logged into the Nalari Health, HIPPA-compliant remote care environment.</h5>
</div>
<ul class="dropdown">
	<li><a>My Patients</a></li>
	<li><a>My Appointments</a></li>
	<li><a>My Notes</a></li>
</ul>

<ul class="tile_3">
	<a href="http://nalarinetwork.com">
		<h3>Talk to a Doctor Now</h3>
		<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
	</a>
	<a>
		<h3>Enroll Your Patient</h3>
		<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
	</a>
	<a>
		<h3>Remote Care Services</h3>
		<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
	</a>
	<a>
		<h3>Patient Biometrics</h3>
		<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
	</a>
	<a>
		<h3>Training and Resources</h3>
		<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
	</a>
	<a>
		<h3>Quality Improvement / Risk Management</h3>
		<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, set do eiusmond temp or incididunt</p>
	</a>
</ul>