{% extends 'header.html' %}
{% block title %}Select a Doctor{% endblock %}
{% block content %}
{% if docs_avail %}
<style>
input[type=radio] {
    display:none; 
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin-left: 0px;
    padding: 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    width: 100%;
    text-align: center;
}

input[type=radio]:checked + label { 
    background-image: none;
    background-color: #8c8c8c;
}

input[type=radio]:hover + label:hover {
    background-color: #cbcbcb;
}
</style>
<h3>Select from the Available Doctors</h3>
<form action="{% url 'zoom:zoom' %}" method="POST">
	{% csrf_token %}
	{% for doctor in doctor_list %}
	<input type='radio' name='doctor' value='{{ doctor.user.username }}' id='{{ doctor.user.username }}'><label for='{{ doctor.user.username }}'>{{ doctor }}</label><br>
	{% endfor %}
	<input type='submit' value='Go!'></input>
</form>
{% else %}
<h3>There are currently no doctors available</h3>
<h5>Please try back again later</h5>
{% endif %}
{% endblock %}