{% extends 'header.html' %}
{% block title %}Schedule an Appointment{% endblock %}
{% block content %}
<h3>Select a date and time for your appointment</h3>
<form method='POST' action="{% url 'zoom:scheduled' %}">
	{% csrf_token %}
	<label for'datetime'>Select a date and time:</label><input type='datetime-local' id='datetime' name='datetime'/><br>
	<label for='duration'>Duration:</label><input type='number' id='duration' name='duration' min='15' max='60'/><br>
	<input type='submit' value='Go!'/>
</form>
{% endblock %}