{% extends 'default.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block body %}
<style>
form {
	/*margin-top: 40%;*/
	display: block;
	padding: 10px;
	border-radius: 15px;
	background-color: #FCDD28;
	text-align: center;
}
input[type=username] {
	width: 100%;
}
input[type=password] {
	width: 100%;
	margin-top: 10px;
}
input[type=radio] {
	margin-top: 20px;
}
input[type=submit] {
	/*margin-top: 20px;*/
	margin: 20px;
}
#center {
	text-align: center;
}
#nh_logo {
	margin-top: 25%;
	margin-bottom: 15px;
}
body {
	background-color: #86C7FC;
}
</style>
<div class='col-md-4'></div>
<div class='col-md-4' id="center">
	<img src="{% static 'img/logo.png' %}" id='nh_logo'/>
	<form action="{% url 'accounts:login' %}" method="POST">
		{% csrf_token %}
		<h3>Login:</h3>
		<!-- <table>
			<tr>
				<td>
			</tr>
		</table> -->
		<div class='col-md-6'>
			<label for='username'>Username: </label><br>
			<label for='password' style='margin-top: 10px;'>Password: </label>
		</div>
		<div class='col-md-6'>
			<input name='username' id='username' type='text'><br>
			<input name='password' id='password' type='password'>
		</div>
		<br>
		<!-- <input type='radio' name='docpat' value='Doctor' id='doc'><label for='doc'>Doctor</label>
		<input type='radio' name='docpat' value='Patient' id='pat' checked><label for='pat'>Patient</label><br><br> -->
		<br>
		<input type="submit" class='btn-primary btn' value='Login'>
		<input type="hidden" name="next" value="{{ next }}" >
	</form>
	<div class="non-funcational" style="text-align:left;"><a href="">Lost your password?</a></div>
</div>
<div class='col-md-4'></div>
{% endblock %}