<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
		<!-- List of uploaded documents -->
		{% if picture %}
			<a href="{{ picture.picfile.url }}"><img style="max-width:50%;" src="{{ picture.picfile.url }}"></a>
		{% else %}
			<p>No pictures.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url 'accounts:photo' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.picfile.label_tag }} {{ form.picfile.help_text }}</p>
			<p>
				{{ form.picfile.errors }}
				{{ form.picfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
		
	</body>

</html> 
